#features-comparison {
  background-color: #fff;
  position: relative;
  text-align: center;
  padding: 60px 0;
  color: #fff;
  z-index: 0;
  font: normal 16px/20px "ralewayregular", Arial, Helvetica, sans-serif;
}
#features-comparison .custom-heading {
  margin: 0 0 50px;
}
#features-comparison .custom-heading h4 {
  color: #116198;
  margin: 0 0 12px;
}
#features-comparison .custom-heading h4:before,
#features-comparison .custom-heading h4:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 60px;
  background-color: #116198;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}
#features-comparison .custom-heading h4:after {
  left: auto;
  right: 0;
}
#features-comparison .custom-heading h5 {
  color: #999;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
#features-comparison .custom-heading h5 .ilinkedon-logo-medium {
  margin: 0 3px 4px;
  vertical-align: bottom;
}
#features-comparison .holder {
  max-width: 980px;
}
.features-comparison-holder {
  position: relative;
}
.features-comparison-holder .bx-wrapper {
  background-color: transparent;
  box-shadow: none;
}
.features-comparison-holder li > img {
  float: right;
  max-width: 685px;
  display: block;
  height: auto;
  width: 100%;
}
.features-comparison-holder .bxslider-content {
  max-width: 270px;
  float: left;
  text-align: left;
}
.features-comparison-holder .bxslider-content ul {
  margin: 0 0 40px;
}
.features-comparison-holder .bxslider-content li {
  position: relative;
  font: normal 16px/20px "ralewayregular", Arial, Helvetica, sans-serif;
  padding: 0 0 0 45px;
  margin: 0 0 25px;
}
.features-comparison-holder .bxslider-content li:before {
  content: "\002714";
  display: block;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  height: 30px;
  width: 30px;
  background-color: #fff;
  color: #2f7fbf;
  text-align: center;
  font: bold 22px/30px "ralewaybold", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -16px 0 0;
}
#features-comparison .slider-control {
  position: absolute;
  top: 50%;
  margin: -30px 0 0;
  width: 100%;
}
#features-comparison .slider-control ul {
  position: relative;
}
#features-comparison .slider-control ul li {
  display: block;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
}
#features-comparison .slider-control ul a {
  display: block;
  height: 60px;
  width: 60px;
  background-color: #00a79d;
  font-size: 0;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#features-comparison .slider-control ul a:hover {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#features-comparison #slider-prev3 {
  left: 100px;
}
#features-comparison #slider-next3 {
  right: 100px;
}
#features-comparison .slider-control ul #slider-prev3 a:before,
#features-comparison .slider-control ul #slider-prev3 a:after,
#features-comparison .slider-control ul #slider-next3 a:before,
#features-comparison .slider-control ul #slider-next3 a:after {
  content: "";
  display: block;
  background-color: #fff;
  width: 2px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0;
  pointer-events: none;
}
#features-comparison .slider-control ul #slider-prev3 a:before,
#features-comparison .slider-control ul #slider-prev3 a:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
#features-comparison .slider-control ul #slider-prev3 a:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 50%;
  margin: -2px 0 0;
}
#features-comparison .slider-control ul #slider-next3 a:before,
#features-comparison .slider-control ul #slider-next3 a:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#features-comparison .slider-control ul #slider-next3 a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  margin: -2px 0 0;
}
#features-comparison .slider-control ul #slider-prev3 a:hover:before,
#features-comparison .slider-control ul #slider-prev3 a:hover:after,
#features-comparison .slider-control ul #slider-next3 a:hover:before,
#features-comparison .slider-control ul #slider-next3 a:hover:after {
  background-color: #00a79d;
}
#features-comparison .bx-wrapper .bx-pager.bx-default-pager a {
  border-radius: 0;
  height: 16px;
  width: 16px;
  background-color: #ddd;
}
#features-comparison .bx-wrapper .bx-pager.bx-default-pager a:hover,
#features-comparison .bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: #27aae1;
}
#features-comparison .ilinkedon-logo-custom,
#signin-page .ilinkedon-logo-custom,
#signup-page .ilinkedon-logo-custom {
  position: absolute;
  bottom: 25px;
  left: -308px;
  z-index: -1;
  height: 130px;
  width: 650px;
  background-image: url("../../Images/gray-logo.svg");
  background-position: 0 bottom;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
#features-comparison:hover .ilinkedon-logo-custom,
#signin-page:hover .ilinkedon-logo-custom,
#signup-page:hover .ilinkedon-logo-custom {
  background-image: url("../../Images/gray-logo-hover.svg");
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
#features-comparison .ilinkedon-logo-custom.add {
  left: auto;
  right: -290px;
  bottom: auto;
  top: 200px;
}
.features-comparison-slider{
    width: 2215%; position: relative; transition-duration: 0s; transform: translate3d(-1600px, 0px, 0px);
}
.features-comparison-slider li{
    float: left; list-style: none; position: relative; width: 1600px;
}
.features-comparison-slider li .columns {
  float: left;
  width: 50%;
  min-height: 475px;
  position: relative;
  color: #999;
  font: normal 15px/22px "ralewayregular", Arial, Helvetica, sans-serif;
}
.features-comparison-slider li .columns:before {
  content: "";
  width: 1px;
  background-color: #ccc;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
}
.features-comparison-slider li .columns:first-child:before {
  display: none;
}
.features-comparison-slider .columns-contents-business {
  position: absolute;
  top: 15%;
  right: 0;
  text-align: right;
  padding: 0 40px 0 0;
}
.features-comparison-slider .columns-contents-branding {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: left;
  padding: 0 0 0 40px;
}
.features-comparison-slider .columns-contents-business:before,
.features-comparison-slider .columns-contents-branding:before {
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 6px solid transparent;
  background-color: #fff;
  position: absolute;
  top: 0;
  z-index: 99;
}
.features-comparison-slider .columns-contents-business:before {
  border-color: #00a79d;
  right: -14px;
}
.features-comparison-slider .columns-contents-branding:before {
  border-color: #79ba30;
  left: -14px;
}
.features-comparison-slider .columns-contents-business h4 {
  color: #00a79d;
  font: normal 20px/23px "ralewaymedium", Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
.features-comparison-slider .columns-contents-branding h4 {
  color: #79ba30;
  font: normal 20px/23px "ralewaymedium", Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
