#footer:after,
.footer-top:after,
.footer-bottom:after {
  content: "";
  clear: both;
  display: block;
}
.footer-top {
  border-top: 1px solid #3d5165;
  background-color: #18334f;
  padding: 50px 0 45px;
}
.footer-three-columns {
  width: 68%;
  float: left;
}
.footer-three-columns .columns {
  float: left;
  width: 33.33%;
}
.footer-three-columns .columns .row:after {
  content: "";
  clear: both;
  display: block;
}
.footer-three-columns .columns .row {
  margin: 0 0 30px;
}
.footer-three-columns .columns h5 {
  color: #27aae1;
  font: normal 20px/23px "ralewaymedium", Arial, Helvetica, sans-serif;
  margin: 0 0 30px;
}
.footer-three-columns .columns ul li {
  display: block;
  font: normal 14px/17px "ralewayregular", Arial, Helvetica, sans-serif;
  margin: 0 0 12px;
}
.footer-three-columns .columns ul a {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  padding: 0 0 0 22px;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.footer-three-columns .columns ul a:before {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.footer-three-columns .columns ul a:hover {
  color: #8bc53e;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.footer-three-columns .columns ul a:hover:before {
  background-color: #8bc53e;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  left: 5px;
}
.footer-three-columns .columns ul li.active a {
  color: #27aee1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.footer-three-columns .columns ul li.active a:before {
  left: 5px;
  background-color: #27aee1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.contact-info-holder {
  float: right;
  width: 32%;
}
.contact-info-holder .map {
  margin: 0 0 15px;
}
.contact-info-holder .map a {
  display: block;
}
.contact-info-holder .map a img {
  display: block;
  height: auto;
  width: 100%;
}
.contact-info-holder .map iframe {
  display: block;
  width: 100%;
}
.contact-info-holder .contact-us-block {
  float: left;
}
.contact-info-holder .contact-us-block ul li {
  margin: 0 0 8px;
}
.contact-info-holder .contact-us-block ul a {
  display: block;
  color: #fff;
  padding: 0 0 0 25px;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.contact-info-holder .contact-us-block ul a:before {
  content: "";
  font-family: "icomoon";
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -7px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.contact-info-holder .contact-us-block ul .viber-link a:hover {
  color: #9c21ff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.contact-info-holder .contact-us-block ul .whatsapp-link a:hover {
  color: #01c501;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.contact-info-holder .contact-us-block ul .viber-link a:before {
  content: "\e909";
}
.contact-info-holder .contact-us-block ul .whatsapp-link a:before {
  content: "\e92c";
}
.contact-info-holder .address-block {
  float: right;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}
.contact-info-holder .address-block address {
  font-style: normal;
  color: #fff;
}
.contact-info-holder .contact-us-block h5,
.contact-info-holder .address-block h5 {
  color: #27aae1;
  font: normal 20px/23px "ralewaymedium", Arial, Helvetica, sans-serif;
  margin: 0 0 15px;
}
.contact-info-holder .address-block h5 {
  margin: 0 0 10px;
}
/*.footer-bottom{
	border-top: 1px solid #3d5165;
	background-color: #0c253f;
	padding: 15px 0;
}
*/
.footer-bottom {
  border-top: 1px solid #3d5165;
  background-color: #0c253f;
  padding: 15px 0;
  color: #fff;
  text-align: right;
  font-size: 12px;
  line-height: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.footer-bottom.sticky {
  padding: 10px 0;
}
.footer-bottom.sticky .left-align {
  margin: 0 5px 0 0;
}
.footer-bottom.sticky .right-align {
  padding: 0 65px 0 0;
}
.footer-bottom.sticky .right-align .twentyfloor-logo {
  position: absolute;
  top: -25px;
  margin: 0 0 0 5px;
}
.footer-bottom .social-links {
  float: left;
  border-left: none;
  padding: 0;
}
.copyright-text {
  color: #fff;
  text-align: center;
  float: right;
}
.footer-logo {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: #fff;
  font-size: 0;
}
.copyright-text span {
  display: inline-block;
  vertical-align: middle;
}
.copyright-text a {
  color: #fff;
}
#footer .footer-top .ilinkedon-logo-white {
  margin: 0 0 4px;
  vertical-align: bottom;
}
#footer .footer-bottom .ilinkedon-logo-white {
  margin: 0 0 3px;
  vertical-align: bottom;
}
.footer-bottom .left-align {
  width: 60%;
  margin: 20px 0 0;
}
.footer-bottom .right-align {
  color: #fff;
}
.footer-bottom .right-align p,
.footer-bottom .right-align a {
  color: #fff;
  display: inline-block;
  vertical-align: bottom;
}
.footer-bottom .right-align .twentyfloor-logo {
  max-width: 64px;
}
.footer-bottom .right-align .twentyfloor-logo img {
  display: block;
  height: auto;
  width: 100%;
}
