#section1 {
  background-image: url("../../Images/about-us-banner.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 60px 0;
  color: #444;
  z-index: 0;
  font: normal 16px/20px "ralewayregular", Arial, Helvetica, sans-serif;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
#section1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.99);
  z-index: -1;
}
#section1 .ilinkedon-logo-custom {
  position: absolute;
  bottom: 3px;
  left: -173px;
  z-index: -1;
  height: 110px;
  width: 750px;
  background-image: url("../../Images/logo.svg");
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1);
  background-repeat: no-repeat;
  background-position: 0 bottom;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
.ilinkedon-logo-medium {
    display: inline-block;
    vertical-align: top;
    background-image: url(../../Images/logo.svg);
    background-repeat: no-repeat;
    width: 140px;
    height: 25px;
}
.ilinkedon-logo-extra-small {
    display: inline-block;
    vertical-align: top;
    background-image: url(../../Images/logo.svg);
    background-repeat: no-repeat;
    width: 90px;
    height: 22px;
}
#section1:hover .ilinkedon-logo-custom {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
.section1-content {
  float: left;
  text-align: left;
  color: #666;
  padding: 0 20px 0 0;
  max-width: 600px;
  font: normal 14px/20px "ralewayregular", Arial, Helvetica, sans-serif;
}
.section1-content h2 {
  color: #79ba30;
  font: normal 30px/33px "ralewaymedium", Arial, Helvetica, sans-serif;
  margin: 0 0 35px;
}
.section1-content p {
  margin: 0 0 35px;
}
.section1-video {
  overflow: hidden;
  position: relative;
}
.section1-video .ilinkedon-logo-large {
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -126px;
  z-index: 999;
}
.youtube-player {
  width: 100%;
  display: block;
  position: relative;
  cursor: pointer;
  max-height: 315px;
  height: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  margin: 0 auto;
}
.youtube-player:before {
  content: "";
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("../../Images/play-icon.png") no-repeat;
  z-index: 99;
}
.playing.youtube-player:before {
  display: none;
}
.youtube-player img {
  bottom: -100%;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  height: auto;
  position: absolute;
  right: 0;
  top: -100%;
}