#get-app-section {
  background-image: url("../../Images/get-app-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 60px 0;
  color: #fff;
  z-index: 0;
  font: normal 16px/20px "ralewayregular", Arial, Helvetica, sans-serif;
}
.custom-heading {
  margin: 0 0 15px;
}
.custom-heading h4 {
  display: inline-block;
  vertical-align: top;
  padding: 0 80px;
  position: relative;
  color: #84bd42;
  font: normal 30px/33px "ralewaymedium", Arial, Helvetica, sans-serif;
  margin: 0;
}
.custom-heading h4 .ilinkedon-logo-white {
  width: 120px;
  height: 26px;
  margin: 5px 8px 0 0;
}
.custom-heading h4:before,
.custom-heading h4:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 60px;
  background-color: #84bd42;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}
.custom-heading h4:after {
  left: auto;
  right: 0;
}
#get-app-section p {
  color: #fff;
}
#get-app-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(4, 50, 87, 0.8);
  z-index: -1;
}
#get-app-section p .ilinkedon-logo-white {
  height: 18px;
  width: 100px;
  margin: 0 0 3px;
  vertical-align: bottom;
}
.get-app-contents {
  padding: 30px 0 0;
}
.get-app-contents .qr-code-holder {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 26px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.get-app-contents .qr-code-holder:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.get-app-contents h5 {
  font: normal 16px/20px "ralewayregular", Arial, Helvetica, sans-serif;
  margin: 0 0 26px;
}
.download-buttons li {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
.download-buttons a {
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.download-buttons a:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.download-buttons a img {
  display: block;
  height: auto;
  width: 100%;
}
