#about-us .holder {
  max-width: 820px;
}
#about-us {
  background-image: url("../../Images/about-us-banner.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 90px 0;
  color: #444;
  z-index: 0;
  font: normal 16px/20px "ralewayregular", Arial, Helvetica, sans-serif;
}
#about-us:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1;
}
#about-us .custom-heading h4 {
  color: #444;
}
#about-us .custom-heading h4:before,
#about-us .custom-heading h4:after {
  background-color: #444;
}
#about-us .ilinkedon-logo-medium {
  margin: 0 3px 3px;
  vertical-align: bottom;
}