#about-us .holder {
  max-width: 820px;
}
#about-us {
  background-image: url("../../Images/about-us-banner.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 90px 0;
  color: #444;
  z-index: 0;
  font: normal 16px/20px "ralewayregular", Arial, Helvetica, sans-serif;
}
#about-us:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1;
}
#about-us .custom-heading h4 {
  color: #444;
}
#about-us .custom-heading h4:before,
#about-us .custom-heading h4:after {
  background-color: #444;
}
#about-us .ilinkedon-logo-medium {
  margin: 0 3px 3px;
  vertical-align: bottom;
}








/* 1300 Media Query Start */
@media screen and (max-width: 1300px) {
  #instant-booking-section #slider-prev2,
  #features-comparison #slider-prev3,
  #logos-section #slider-prev4 {
    left: 40px;
  }
  #instant-booking-section #slider-next2,
  #features-comparison #slider-next3,
  #logos-section #slider-next4 {
    right: 40px;
  }
}
/* 1300 Media Query End */

/* 1200 Media Query Start */
@media screen and (max-width: 1200px) {
  .holder {
    max-width: 1023px;
  }
  .logo {
    width: 180px;
  }
  .top-header .location-holder li {
    min-width: 60px;
    padding: 6px 10px 5px 10px;
    margin: 0 0 0 5px;
  }
  .top-header .account-btn-holder li {
    margin: 0 15px 0 0;
  }
  .top-header .account-btn-holder span {
    margin: 0 5px 0 0;
  }
  #main-menu > ul > li {
    margin: 0 0 0 15px;
  }
  #instant-booking-section #slider-prev2,
  #features-comparison #slider-prev3,
  #logos-section #slider-prev4 {
    left: 20px;
  }
  #instant-booking-section #slider-next2,
  #features-comparison #slider-next3,
  #logos-section #slider-next4 {
    right: 20px;
  }
  .instant-booking .bxslider-table-cell .image-holder,
  .instant-booking .bxslider-table-cell .image-holder {
    max-width: 520px;
  }
  #features-comparison .holder {
    max-width: 800px;
  }
  .move-on-contents .columns {
    width: 47%;
    padding: 24px 20px;
  }
  .section1-video iframe {
    display: block;
    height: 300px;
    width: 100%;
  }
  .section1-content h2 {
    margin: 0 0 15px;
  }
  .section1-content p {
    margin: 0 0 15px;
  }
  .bxslider-content {
    max-width: 450px;
  }
  .slider-section .car {
    height: 300px;
    width: 600px;
    bottom: 0;
    right: -65px;
  }
  .car-right-light {
    bottom: 170px;
    left: 277px;
  }
  .car-left-light {
    bottom: 170px;
    left: 122px;
  }
  .signup-form p span {
    display: inline;
  }
  .account-btn-holder span {
    display: none;
  }
}
/* 1200 Media Query End */

/* 1023 Media Query Start */
@media screen and (max-width: 1024px) {
  .holder {
    max-width: 767px;
  }
  .top-header {
    padding: 8px 0 9px;
  }
  .top-header .left-align {
    margin: 4px 0 0;
  }
  .bottom-header {
    padding: 8px 0 8px;
  }
  .top-header .holder,
  .bottom-header .holder {
    max-width: 100%;
  }
  .logo {
    width: 165px;
  }
  #cat-menu-btn {
    display: none;
  }
  .account-btn-holder li {
    margin: 0 10px 0 0;
  }
  .location-holder li {
    margin: 0 0 0 8px;
  }
  #main-menu .drive-width-btn {
    margin: 0;
  }
  #mobile-menu-btn {
    display: block;
  }
  #main-menu {
    visibility: hidden;
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 54px;
    right: -300px;
    background: #fff;
    padding: 20px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    width: 280px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
    z-index: 9999;
  }
  #main-menu ul {
    display: block;
    margin: 0 0 15px;
    text-align: left;
  }
  #main-menu ul li {
    display: block;
    margin: 0;
    text-align: left;
    border-bottom: 1px solid #dedede;
  }
  #main-menu ul a {
    padding: 10px 5px;
  }
  #main-menu.open {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 54px;
    right: 1px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
  }
  #main-menu.open ul li ul {
    left: auto;
    right: 265px;
    top: 0;
  }
  #main-menu.open ul li ul:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent #27aae1;
    position: absolute;
    top: 12px;
    right: -9px;
  }
  .home-page .bottom-header .category-menu {
    visibility: visible;
    opacity: 1;
    top: 53px;
    left: 0;
    box-shadow: 0 0 5px rgba(39, 170, 255, 0.4);
    height: 360px;
    max-height: 360px;
    /*		min-height: 360px !important;
*/
    width: 100px;
    overflow-y: scroll;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
  }
  .home-page .bottom-header .category-menu.hide {
    left: -110px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
  }
  .bottom-header .category-menu ul li {
    width: 100%;
    float: none;
    padding: 0;
  }
  .bottom-header .category-menu ul a {
    font-size: 0;
    padding: 0;
    min-height: 60px;
  }
  .contact-info-holder .contact-us-block,
  .contact-info-holder .address-block {
    float: none;
  }
  .contact-info-holder .contact-us-block {
    margin: 0 0 20px;
  }
  .contact-info-holder .address-block address br {
    display: none;
  }
  .contact-info-holder .contact-us-block ul a {
    display: inline-block;
    vertical-align: top;
  }
  .footer-three-columns .columns ul a {
    padding: 0 0 0 15px;
  }
  .footer-three-columns .columns h5 {
    margin: 0 0 15px;
  }
  .footer-three-columns .columns {
    width: auto;
    margin: 0 0 0 20px;
  }
  .footer-three-columns .columns:first-child {
    margin: 0;
  }
  .footer-three-columns {
    width: 72%;
  }
  .contact-info-holder {
    width: 28%;
  }
  .footer-bottom {
    padding: 14px 0;
  }
  #features-comparison .holder {
    max-width: 600px;
  }
  #about-us {
    padding: 40px 0;
  }
  #instant-booking-section .holder {
    max-width: 600px;
    padding: 0;
  }
  .instant-booking .bxslider-table-cell .image-holder,
  .instant-booking .bxslider-table-cell .image-holder {
    max-width: 280px;
  }
  .section1-content h2,
  #join-now-section .join-form-holder h2,
  #best-services-section .custom-heading h4,
  #instant-booking-section .custom-heading h4,
  #features-comparison .custom-heading h4 {
    font-size: 22px;
  }
  #features-comparison .custom-heading {
    margin: 0 0 30px;
  }
  .instant-booking .bxslider-content li {
    margin: 0 0 10px;
    padding: 0 0 0 30px;
  }
  .instant-booking .bxslider-content li:before {
    height: 20px;
    width: 20px;
    margin: -10px 0 0;
    font-size: 14px;
    line-height: 22px;
  }
  #best-services-section .service-list ul {
    overflow: hidden;
  }
  #best-services-section .service-list ul:after {
    content: "";
    clear: both;
    display: block;
  }
  #best-services-section .service-list li {
    padding: 0 20px 10px;
  }
  #best-services-section .service-list li:before {
    font-size: 50px;
    line-height: 50px;
    height: 50px;
    width: 80px;
    margin: 0 0 0 -40px;
  }
  #best-services-section .service-list li h3 a {
    padding: 70px 0 0;
  }
  #best-services-section .service-list li:before {
    top: 15px;
  }
  #best-services-section .service-list li h3 {
    margin: 0 0 10px;
  }
  #best-services-section .service-list li p {
    margin: 0 0 8px;
  }
  #find-section .holder {
    max-width: 767px;
  }
  #find-section .find-form label,
  #find-section .find-form .find-input-fields {
    float: none;
    overflow: hidden;
  }
  #find-section .find-form label {
    display: block;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 10px;
  }
  #join-now-section .holder {
    max-width: 767px;
  }
  .section1-content {
    max-width: 450px;
  }
  .section1-video iframe {
    min-height: 200px;
    height: auto;
  }
  #section1 .ilinkedon-logo-custom {
    width: 475px;
    left: -240px;
  }
  #signin-page .two-columns .columns .image-holder {
    padding: 0 30px 15px;
  }
  #signin-page .two-columns .columns .image-holder img {
    display: block;
    height: auto;
    width: 100%;
  }
  #signin-page .two-columns .columns h2 {
    padding: 30px 15px 15px;
  }
  #signin-page .two-columns .columns:before,
  #signin-page .two-columns .columns:after {
    height: 55%;
  }
  #signin-page .two-columns .columns {
    min-height: auto;
  }
  .join-form p span {
    display: inline;
  }
  .download-buttons li {
    width: 140px;
    margin: 0 5px;
  }
  .slider-download-buttons {
    left: auto;
    right: 6px;
    top: 30px;
  }
  .slider-section .car {
    bottom: 22px;
    right: -128px;
    height: 300px;
    width: 570px;
  }
  .bxslider-content {
    max-width: 350px;
  }
  .bxslider-content h3 {
    font-size: 22px;
    line-height: 26px;
  }
  .home-page .bottom-header .category-menu {
    width: 70px;
  }
  .home-page .bottom-header .mobile-cat-menu-btn {
    content: "";
    display: block;
    height: 30px;
    width: 60px;
    border-radius: 0 20px 20px 0;
    background-color: #fff;
    box-shadow: 3px 0 5px rgba(39, 170, 255, 0.4);
    position: absolute;
    bottom: -30px;
    left: 35px;
    z-index: 999;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
  }
  .home-page .bottom-header .mobile-cat-menu-btn.hide {
    display: none;
  }
  .home-page .bottom-header .mobile-cat-menu-btn:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent #005691 transparent transparent;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -7px;
  }
  .home-page .bottom-header .mobile-cat-menu-btn.cat_active:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent #005691;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -7px;
  }
  .home-page .bottom-header .mobile-cat-menu-btn.cat_active {
    left: -30px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
  }
  .home-page .bottom-header .category-menu .holder {
    padding: 0 5px;
  }
  .bottom-header .category-menu ul a:before {
    font-size: 30px;
  }
  .bxslider-table-cell .holder {
    max-width: 100%;
    padding: 0 0 0 90px;
  }
  .bxslider-position {
    top: 30px;
    pointer-events: none;
  }
  .banner-form {
    pointer-events: initial;
  }
  .bxslider-table-cell {
    vertical-align: top;
  }
  .bxslider-content h4 {
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 20px;
  }
  .moving-block {
    width: 588px;
  }
  .car-right-light {
    bottom: 178px;
    left: 261px;
  }
  .car-left-light {
    bottom: 174px;
    left: 116px;
  }
  .join-form .columns:nth-child(1) {
    padding: 0 5px 0 0;
  }
  .join-form .columns:nth-child(2) {
    padding: 0 0 0 5px;
  }
  .contact-info-block ul li:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  #main-menu > ul > li.help-us-mobile {
    display: block;
  }
  body {
    margin: 0 0 90px;
  }
  .features-comparison-slider .columns-contents-business h4,
  .features-comparison-slider .columns-contents-branding h4 {
    margin: 0 0 6px;
  }
  .features-comparison-slider .columns-contents-business {
    padding: 0 25px 0 0;
  }
  .features-comparison-slider .columns-contents-branding {
    padding: 0 0 0 25px;
  }
  .features-comparison-slider li .columns {
    font-size: 13px;
    line-height: 20px;
  }
  .features-comparison-slider li .columns .ilinkedon-logo-medium {
    width: 110px;
  }
  .instant-booking .bxslider-content ul {
    margin: 0 0 20px;
  }
  .footer-bottom .left-align {
    width: auto;
  }
  .footer-bottom .holder {
    max-width: 100%;
    padding: 0 85px;
  }
  .footer-bottom.max .holder {
    max-width: 100%;
    padding: 0 20px;
  }
  .copyright-text {
    display: none;
  }
}
/* 1023 Media Query End */

/* 767 Media Query Start */
@media screen and (max-width: 767px) {
  .holder {
    max-width: 480px;
  }
  .footer-bottom .holder {
    max-width: 100%;
  }
  .top-header .left-align {
    margin: 0 0 10px;
    text-align: left;
    width: 100%;
    float: none;
    overflow: hidden;
  }
  .top-header .right-align {
    text-align: center;
    width: 100%;
    float: none;
    overflow: hidden;
  }
  .top-header .right-align .account-btn-holder {
    float: left;
  }
  .top-header .right-align .location-holder {
    float: right;
  }
  #main-menu,
  #main-menu.open {
    top: 52px;
  }
  .footer-three-columns {
    width: 100%;
  }
  .contact-info-holder {
    width: 100%;
  }
  .contact-info-holder .map {
    float: left;
    width: 50%;
    padding: 0 20px 0 0;
    margin: 0;
  }
  .contact-info-holder .contact-us-block,
  .contact-info-holder .address-block {
    float: right;
    width: 50%;
  }
  .footer-bottom .copyright-text {
    width: 100%;
    text-align: center;
    float: none;
  }
  .footer-bottom .right-align {
    margin: 0 0 10px;
    width: auto;
  }
  .footer-bottom.sticky .right-align {
    margin: 0;
  }
  .footer-bottom .left-align {
    width: auto;
  }
  .footer-three-columns .columns {
    width: 100%;
    margin: 0 0 30px;
  }
  .footer-three-columns .columns ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 7px 0;
  }
  .footer-three-columns .columns h5 {
    margin: 0 0 10px;
  }
  .contact-info-holder .map {
    float: none;
    width: 100%;
    padding: 0 0 30px;
  }
  #get-app-section .download-buttons li {
    max-width: 140px;
  }
  .footer-top,
  #get-app-section,
  #features-comparison,
  #instant-booking-section,
  #best-services-section {
    padding: 30px 0;
  }
  .custom-heading h4,
  #instant-booking-section .custom-heading {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
  }
  #instant-booking-section .custom-heading h4:before,
  #features-comparison .custom-heading h4:before,
  .custom-heading h4:before {
    width: 40px;
    height: 1px;
    top: auto;
    left: 50%;
    margin-left: -20px;
    bottom: -5px;
  }
  #instant-booking-section .custom-heading h4:after,
  #features-comparison .custom-heading h4:after,
  .custom-heading h4:after {
    width: 20px;
    height: 1px;
    top: auto;
    left: 50%;
    margin-left: -10px;
    bottom: -8px;
  }
  .move-on-contents .columns {
    width: 100%;
    padding: 15px;
  }
  .move-on-contents .columns:last-child:before {
    display: none;
  }
  .move-on-contents .columns .image-holder {
    padding: 0 10px;
  }
  .move-on-contents .columns .image-content {
    min-height: auto;
    padding: 10px;
    margin: 5px 0 0;
    font-size: 13px;
    line-height: 18px;
  }
  .move-on-contents .columns .image-content:before {
    top: -30px;
    border-width: 0 0 40px 15px;
  }
  .move-on-contents .columns:last-child .image-content::before {
    border-width: 40px 0 0 15px;
  }
  #about-us {
    padding: 25px 0;
    font-size: 13px;
  }
  #get-app-section,
  .get-app-contents h5 {
    font-size: 14px;
  }
  #features-comparison .custom-heading {
    margin: 0 0 10px;
  }
  #best-services-section .service-list li {
    width: 100%;
    min-height: auto;
  }
  #best-services-section .service-list li:after {
    display: none;
  }
  #find-section .holder {
    max-width: 470px;
  }
  #find-section .find-form .find-input-fields input[type="text"] {
    float: none;
    display: block;
    width: 100%;
    margin: 0 0 10px;
  }
  .join-form .columns {
    width: 100%;
    float: none;
    margin: 0 0 20px;
  }
  .join-form .row {
    margin: 0 0 20px;
  }
  #join-now-section .join-form-holder {
    padding: 20px;
  }
  .join-form .other-signin a {
    padding: 12px 10px 12px 38px;
    font-size: 13px;
  }
  .join-form .other-signin a:before {
    left: 10px;
  }
  .join-form .other-signin a:after {
    left: 35px;
  }
  .join-form p span {
    display: inline;
  }
  .join-form p span.ilinkedon-logo-small {
    display: inline-block;
  }
  #join-now-section .join-form-holder h2 {
    margin: 0 0 20px;
  }
  .join-form-holder h2 span {
    display: block;
    margin: 0 auto 7px;
  }
  #section1 {
    padding: 30px 0 60px;
  }
  #section1 .holder {
    max-width: 100%;
    padding: 0 30px;
  }
  .section1-content {
    max-width: 100%;
    padding: 0;
    float: none;
  }
  .section1-video {
    margin: 0 0 30px;
  }
  #find-section {
    display: none;
  }
  #forget-page {
    padding: 30px 0;
  }
  #forget-page .forget-form-holder {
    padding: 20px 0;
  }
  #forget-page .custom-heading h2 {
    padding: 0 40px;
    font-size: 24px;
  }
  #forget-page .custom-heading h2:before,
  #forget-page .custom-heading h2:after {
    width: 30px;
  }
  #signin-page .signin-form-holder {
    padding: 0;
  }
  .signin-form-holder .other-signin a {
    padding: 12px 10px 12px 38px;
    font-size: 13px;
  }
  .signin-form-holder .other-signin a:before {
    left: 10px;
  }
  .signin-form-holder .other-signin a:after {
    left: 35px;
  }
  .signin-form-holder .other-signin li.sign-in-facebook,
  .signin-form-holder .other-signin li.sign-in-linkedin {
    display: block;
    float: none;
    width: 85%;
    margin: 0 auto 10px;
  }
  .contact-page-form .columns {
    width: 100%;
    float: none;
  }
  .contact-page-form .columns {
    margin: 0 0 12px;
  }
  .contact-page-form .row {
    margin: 0 0 12px;
  }
  #contact-page .contact-page-form-holder {
    padding: 40px 20px;
  }
  .robot-img {
    margin: 0 auto;
    max-width: 300px;
  }
  .contact-info-block ul li {
    width: 48%;
    margin-bottom: 20px;
    padding: 100px 20px 10px;
    min-height: 170px;
  }
  #contact-page .custom-heading h2 {
    font-size: 24px;
  }
  #logos-section {
    display: none;
  }
  #features-comparison .slider-control {
    display: none;
  }
  #features-comparison .holder {
    max-width: 100%;
  }
  .features-comparison-slider .columns-contents-business {
    padding: 0 25px 0 0;
    top: 10%;
  }
  .features-comparison-slider .columns-contents-branding {
    padding: 0 0 0 25px;
    top: 44%;
  }
  .features-comparison-slider .columns-contents-business h4,
  .features-comparison-slider .columns-contents-branding h4 {
    margin: 0 0 5px;
    font-size: 16px;
  }
  #instant-booking-section .bx-wrapper .bx-pager,
  #features-comparison .bx-wrapper .bx-pager {
    display: block;
    padding: 15px 0;
  }
  #features-comparison .ilinkedon-logo-custom,
  #signin-page .ilinkedon-logo-custom,
  #signup-page .ilinkedon-logo-custom {
    left: -415px;
  }
  #instant-booking-section .holder {
    max-width: 100%;
  }
  #instant-booking-section .slider-control {
    display: none;
  }
  .instant-booking .bxslider-content li {
    font-size: 12px;
  }
  .instant-booking .bxslider-table-cell .image-holder {
    max-width: 220px;
    vertical-align: top;
  }
  .instant-booking .bxslider-content {
    padding: 0;
    vertical-align: top;
  }
  #signup-page .custom-heading h2 {
    font-size: 22px;
  }
  #signup-page .other-signin a {
    padding: 12px 10px 12px 38px;
    font-size: 13px;
  }
  #signup-page .other-signin a:before {
    left: 10px;
  }
  #signup-page .other-signin a:after {
    left: 35px;
  }
  #signup-page {
    padding: 30px 0;
  }
  #signup-page .signup-form-holder {
    padding: 15px 20px;
  }
  .moving-button,
  .banner-form .form-row input[type="text"] {
    display: none;
  }
  .bxslider-content {
    max-width: 300px;
  }
  .banner-form .form-row {
    margin: 0 0 10px;
  }
  .banner-form .form-row button[type="submit"] {
    height: 40px;
    font-size: 14px;
  }
  .bxslider-content h2 {
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 5px;
  }
  .bxslider-content h3 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 5px;
  }
  .bxslider-content h4 {
    font-size: 10px;
    line-height: 13px;
    margin: 0 0 10px;
  }
  .slider-section .car {
    bottom: -45px;
    right: -38px;
    height: 300px;
    width: 450px;
  }
  .car-right-light {
    bottom: 203px;
    left: 205px;
    height: 23px;
    width: 23px;
  }
  .car-left-light {
    bottom: 203px;
    left: 92px;
    height: 20px;
    width: 9px;
  }
  .slider-download-buttons {
    left: 85px;
    right: auto;
    top: 20px;
  }
  .bxslider-position {
    top: 90px;
  }
  .agreement-checkbox:before {
    font-size: 12px;
  }
  #signin-page > .ilinkedon-logo-custom.left,
  #signin-page > .ilinkedon-logo-custom.right {
    display: none;
  }
  .join-form .columns:nth-child(1) {
    padding: 0;
  }
  .join-form .columns:nth-child(2) {
    padding: 0;
  }
  .learn-more-btn {
    font-size: 12px;
    line-height: 15px;
    padding: 6px 25px 5px;
  }
  #features-comparison .ilinkedon-logo-custom.add {
    display: none;
  }
  #best-services-section .service-list ul {
    border-bottom: none;
  }
  #footer .footer-top .ilinkedon-logo-white {
    margin: 0 0 5px;
  }
  .custom-heading h4 .ilinkedon-logo-white {
    margin: 0 8px 0 0;
  }
  .footer-bottom.sticky .social-links {
    display: none;
  }
  .footer-bottom .holder {
    padding: 0 15px;
  }
  .term-condition-popup-overlay .term-condition-popup-holder {
    width: 400px;
    margin-left: -200px;
  }
}
/* 767 Media Query End */

/* 767 Media Query Start */
@media screen and (max-width: 767px) and (orientation: landscape) {
  .home-page .bottom-header .category-menu {
    min-height: 180px !important;
    max-height: 180px;
  }
}
/* 767 Media Query End */

/* 480 Media Query Start */
@media screen and (max-width: 480px) {
  .top-header .left-align {
    font-size: 0;
  }
  .bottom-header .left-align {
    margin: 0;
  }
  .top-header .email-link {
    font-size: 0;
    padding: 0;
  }
  .top-header .social-links {
    border: none;
  }
  #header .top-header {
    padding: 5px 0 10px;
  }
  .top-header .right-align .location-holder {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
    height: 27px;
    border-radius: 3px;
    padding: 4px 10px;
  }
  .top-header .right-align .location-holder li {
    border: none;
    min-width: auto;
    height: auto;
    padding: 0;
  }
  .top-header .right-align .location-holder li:first-child span {
    display: none;
  }
  .account-btn-holder .signup-btn,
  .account-btn-holder .signin-btn {
    border-radius: 4px;
    padding: 5px 11px;
  }
  #main-menu,
  #main-menu.open {
    top: 52px;
    width: 100%;
    right: 0;
    border-radius: 0;
    padding: 5px 15px;
    box-shadow: 0 0 5px rgba(39, 170, 255, 0.4);
  }
  #main-menu.open ul li ul,
  #main-menu ul li ul {
    position: static;
    width: 100%;
    height: 100%;
    overflow: visible;
    margin: 0;
    display: none;
  }
  #main-menu ul li:hover ul {
    display: block;
  }
  #main-menu.open ul li ul li,
  #main-menu ul li ul li {
    margin: 0;
  }
  #main-menu ul li ul:before,
  #main-menu.open ul li ul:before {
    display: none;
  }
  .contact-info-holder .contact-us-block,
  .contact-info-holder .address-block {
    float: none;
    width: 100%;
    text-align: center;
  }
  .contact-info-holder .contact-us-block {
    margin: 0 0 30px;
  }
  #get-app-section .download-buttons li {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  #get-app-section .download-buttons li:first-child {
    margin: 0 auto 10px;
  }
  #best-services-section .service-list li {
    width: 100%;
    float: none;
  }
  #best-services-section .service-list li p {
    display: none;
  }
  #best-services-section .custom-heading h4 span {
    display: block;
    margin: 0 auto 10px;
  }
  .signup-form .other-signin li,
  .join-form .other-signin li {
    display: block;
    float: none !important;
    margin: 0 auto 10px;
    width: 85%;
  }
  .join-form p span.ilinkedon-logo-small {
    margin: 3px 3px 4px 0;
  }
  .join-form .ilinkedon-logo-small {
    width: 80px;
    height: 18px;
  }
  .join-form .agreement-checkbox {
    height: 16px;
    width: 16px;
    margin: 0 4px 5px 0;
  }
  #join-now-section .join-form-holder {
    padding: 20px 10px;
  }
  #forget-page .custom-heading {
    padding: 0 0 10px;
  }
  #forget-page .custom-heading h2,
  #signin-page .custom-heading h2 {
    font-size: 18px;
  }
  #signin-page .custom-heading {
    padding: 0 0 15px;
  }
  #signin-page .two-columns .columns h2 {
    font-size: 16px;
    padding: 10px 10px 5px;
  }
  #signin-page .two-columns .columns .image-holder {
    padding: 0 20px;
  }
  #signin-page .two-columns .columns {
    float: none;
    width: 100%;
    padding: 0 0 15px;
  }
  #signin-page .signin-form-holder {
    padding: 10px 0 0;
  }
  .signin-form .row:nth-child(1) {
    margin: 0 0 15px;
  }
  .forget-form input[type="submit"] {
    text-transform: capitalize;
  }
  .contact-info-block ul li {
    width: 100%;
    min-height: auto;
    margin: 0 0 20px;
  }
  .contact-info-block ul li:first-child {
    margin: 0 0 20px;
  }
  #contact-page .custom-heading h2 {
    font-size: 20px;
    padding: 0 50px;
  }
  #contact-page .custom-heading h2:before,
  #contact-page .custom-heading h2:after {
    width: 40px;
  }
  #features-comparison {
    padding: 30px 0 115px;
  }
  .features-comparison-slider li .columns {
    width: 100%;
    float: none;
    min-height: auto;
    margin: 0 0 15px;
  }
  .features-comparison-slider .columns-contents-business,
  .features-comparison-slider .columns-contents-branding {
    position: static;
    padding: 0;
    text-align: left;
  }
  .features-comparison-slider .columns-contents-business:before,
  .features-comparison-slider .columns-contents-branding:before {
    display: none;
  }
  .features-comparison-slider li .columns:before {
    display: none;
  }
  .features-comparison-holder {
    padding: 20px 0 0;
  }
  /*	
	.instant-booking .bxslider-table-cell .image-holder{
		display: none;
	}
*/
  .instant-booking .bxslider-table-cell .holder {
    padding: 0;
  }
  .instant-booking .bxslider-content ul {
    margin: 0 0 20px;
  }
  #instant-booking-section .custom-heading {
    margin: 0 0 20px;
  }
  .instant-booking {
    margin: 0 0 15px;
  }
  #instant-booking-section .bx-wrapper .bx-pager {
    padding: 0;
  }
  #instant-booking-section .custom-heading h4 {
    font-size: 16px;
  }
  #signup-page {
    padding: 0;
  }
  #signup-page .signup-form-holder {
    padding: 20px;
  }
  #signup-page .custom-heading {
    padding: 0 0 10px;
    margin: 0 0 15px;
  }
  #signup-page .custom-heading h2 {
    padding: 0 40px;
    font-size: 18px;
  }
  #signup-page .custom-heading h2:before,
  #signup-page .custom-heading h2:after {
    width: 30px;
  }
  .signup-form .columns {
    width: 100%;
    float: none;
    padding: 0;
  }
  .signup-form .columns-row .row .columns,
  .signup-form .columns-row .row {
    margin: 0 0 15px;
  }
  .bxslider-content {
    text-align: right;
    float: right;
    margin: 0 25px 0 0;
  }
  .slider-download-buttons {
    left: auto;
    right: 20px;
  }
  .download-buttons li {
    width: 100px;
  }
  .banner-form .form-row button[type="submit"] {
    height: 36px;
    font-size: 12px;
    max-width: 200px;
    float: right;
  }
  .seconds-text {
    font-size: 10px;
  }
  .rating li {
    font-size: 14px;
  }
  .slider-section .bxslider li > img {
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    object-fit: cover;
    min-height: auto;
  }
  .slider-section .car {
    bottom: -100px;
    right: -100px;
    width: 400px;
  }
  .car-right-light {
    bottom: 211px;
    left: 182px;
  }
  .car-left-light {
    bottom: 212px;
    left: 81px;
  }
  .bxslider-content h2 {
    font-size: 12px;
    line-height: 15px;
  }
  .bxslider-content h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .slider-section {
    min-height: auto;
  }
  .instant-booking .bxslider-content {
    display: block;
    margin: 0 auto 20px;
    float: none;
    text-align: center;
    max-width: 220px;
  }
  .instant-booking .bxslider-content li {
    text-align: left;
  }
  .instant-booking .bxslider-table-cell .image-holder {
    display: block;
    margin: 0 auto;
  }
  .features-comparison-slider .columns-contents-business h4,
  .features-comparison-slider .columns-contents-branding h4 {
    font-size: 14px;
    line-height: 17px;
  }
  .features-comparison-slider .columns-contents-business p,
  .features-comparison-slider .columns-contents-branding p {
    font-size: 12px;
    line-height: 15px;
  }
  #get-app-section .download-buttons li {
    max-width: 150px;
    width: 150px;
  }
  .join-form-holder > .ilinkedon-logo-custom {
    display: none;
  }
  .footer-bottom-most {
    min-height: 56px;
    padding: 8px 0 10px 80px;
  }
  body {
    margin: 0 0 30px;
  }
  .footer-bottom {
    padding: 10px 0 !important;
  }
  .footer-bottom .left-align {
    display: none;
  }
  .footer-bottom .right-align {
    padding: 0 !important;
    margin: 0 !important;
  }
  .footer-bottom .right-align .twentyfloor-logo {
    position: absolute;
    top: -55px !important;
    right: 0;
    margin: 0 0 0 5px;
  }

  .signup-form .row #phone .custom-code {
    width: 49%;
  }
  .signup-form .row #phone .custom-network {
    width: 49%;
    margin-left: 2%;
  }
  .signup-form .row #phone .custom-number {
    width: 100%;
    margin: 15px 0 0;
  }
  .signup-form .row #phone + strong {
    margin-top: 20px;
  }
  .term-condition-popup-overlay.show .term-condition-popup-holder {
    width: 100%;
    border-radius: 0;
    margin-left: 0;
    transform: translateX(0);
    top: 0;
    left: 0;
  }
}
/* 480 Media Query End */

/* 360 Media Query Start */
@media screen and (max-width: 360px) {
  .footer-bottom-most {
    padding: 8px 0 10px 50px;
  }
}
/* 360 Media Query Start */

/* Responsive End */
