#best-services-section {
  padding: 60px 0 0;
}
#best-services-section .custom-heading {
  text-align: center;
}
#best-services-section .custom-heading h4 {
  color: #116198;
}
#best-services-section .custom-heading h4:before,
#best-services-section .custom-heading h4:after {
  background-color: #116198;
}
#best-services-section .custom-heading .custom-complete-logo {
  margin-right: 12px;
}
#best-services-section .custom-heading .custom-complete-logo span {
  font-size: 32px;
  line-height: 24px;
}
#best-services-section .service-list ul {
  overflow: hidden;
  border-bottom-color: #e5e5e5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
#best-services-section .service-list:after {
  content: "";
  clear: both;
  display: block;
}
#best-services-section .service-list li {
  float: left;
  width: 33.33%;
  min-height: 410px;
  padding: 0 20px 20px;
  color: #666;
  position: relative;
  font: normal 13px/18px "ralewaymedium", Arial, Helvetica, sans-serif;
}
#best-services-section .service-list li:after {
  content: "";
  display: block;
  width: 1px;
  height: 150px;
  background-color: #e5e5e5;
  position: absolute;
  top: 160px;
  left: 0;
}
#best-services-section .service-list li:nth-child(3n + 1):after {
  display: none;
}
#best-services-section .service-list li h3 {
  color: #79ba30;
  text-align: center;
  margin: 0 0 15px;
  font: normal 15px/19px "ralewaymedium", Arial, Helvetica, sans-serif;
}
#best-services-section .service-list li h3 a {
  display: block;
  color: #79ba30;
  position: relative;
  padding: 100px 0 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
#best-services-section .service-list li h3 a:hover {
  color: #27aae1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
#best-services-section .service-list li:before {
  content: "";
  display: block;
  height: 80px;
  width: 140px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin: 0 0 0 -70px;
  font-family: "icomoon";
  font-size: 70px;
  line-height: 85px;
  text-align: center;
  color: transparent;
  background: linear-gradient(#01a79e, #26aadd);
  background-clip: text;
  /* text-fill-color: transparent; */

  background: -webkit-linear-gradient(#01a79e, #26aadd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background: -ms-linear-gradient(#01a79e, #26aadd);
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#best-services-section .service-list .restaurant-block:before {
  content: "\e901";
}
#best-services-section .service-list .behind-van-block:before {
  content: "\e900";
}
#best-services-section .service-list .innovations-business-block:before {
  content: "\e908";
}
#best-services-section .service-list .tech-block:before {
  content: "\e904";
}
#best-services-section .service-list .jobs-block:before {
  content: "\e93c";
}
#best-services-section .service-list .driver-seat-block:before {
  content: "\e906";
}
#best-services-section .service-list .promotions-block:before {
  content: "\e93b";
}
#best-services-section .service-list .automobile-block:before {
  content: "\e935";
}
#best-services-section .service-list .classified-adds-block:before {
  content: "\e905";
}
#best-services-section .service-list li:hover:before {
  top: 15px;
  background: linear-gradient(#26aadd, #26aadd);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.ie-detected #best-services-section .service-list li:before {
  background: none !important;
}
.ie-detected #best-services-section .service-list li:hover:before {
  background: none !important;
}
.ie-detected #best-services-section .service-list li h3 a:before {
  content: "";
  display: block;
  height: 85px;
  width: 120px;
  position: absolute;
  top: 6px;
  left: 50%;
  margin: 0 0 0 -60px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 0; 
  background-size: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.ie-detected #best-services-section .service-list li h3 a:hover:before {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.ie-detected
  #best-services-section
  .service-list
  .restaurant-block
  h3
  a:before {
  background-image: url("../../Images/grab-cuisine.svg");
}
.ie-detected
  #best-services-section
  .service-list
  .behind-van-block
  h3
  a:before {
  background-image: url("../../Images/behind-the-van-mover.svg");
}
.ie-detected
  #best-services-section
  .service-list
  .innovations-business-block
  h3
  a:before {
  background-image: url("../../Images/innovative-business-card.svg");
}
.ie-detected #best-services-section .service-list .tech-block h3 a:before {
  background-image: url("../../Images/tech-preneur.svg");
}
.ie-detected #best-services-section .service-list .jobs-block h3 a:before {
  background-image: url("../../Images/jobs.svg");
}
.ie-detected
  #best-services-section
  .service-list
  .driver-seat-block
  h3
  a:before {
  background-image: url("../../Images/u-in-the-drivers-seats.svg");
}
.ie-detected
  #best-services-section
  .service-list
  .promotions-block
  h3
  a:before {
  background-image: url("../../Images/deals-promotions.svg");
}
.ie-detected
  #best-services-section
  .service-list
  .automobile-block
  h3
  a:before {
  background-image: url("../../Images/move-the-automobile.svg");
}
.ie-detected
  #best-services-section
  .service-list
  .classified-adds-block
  h3
  a:before {
  background-image: url("../../Images/marketing.svg");
}

.ie-detected
  #best-services-section
  .service-list
  .restaurant-block
  h3
  a:hover:before {
  background-image: url("../../Images/grab-cuisine-hover.svg");
}
.ie-detected
  #best-services-section
  .service-list
  .behind-van-block
  h3
  a:hover:before {
  background-image: url("../../Images/behind-the-van-mover-hover.svg");
}
.ie-detected
  #best-services-section
  .service-list
  .innovations-business-block
  h3
  a:hover:before {
  background-image: url("../../Images/innovative-business-card-hover.svg");
}
.ie-detected
  #best-services-section
  .service-list
  .tech-block
  h3
  a:hover:before {
  background-image: url("../../Images/tech-preneur-hover.svg");
}
.ie-detected
  #best-services-section
  .service-list
  .jobs-block
  h3
  a:hover:before {
  background-image: url("../../Images/jobs-hover.svg");
}
.ie-detected
  #best-services-section
  .service-list
  .driver-seat-block
  h3
  a:hover:before {
  background-image: url("../../Images/u-in-the-drivers-seat-hover.svg");
}
.ie-detected
  #best-services-section
  .service-list
  .promotions-block
  h3
  a:hover:before {
  background-image: url("../../Images/deals-promotions-hover.svg");
}
.ie-detected
  #best-services-section
  .service-list
  .automobile-block
  h3
  a:hover:before {
  background-image: url("../../Images/move-the-automobile-hover.svg");
}
.ie-detected
  #best-services-section
  .service-list
  .classified-adds-block
  h3
  a:hover:before {
  background-image: url("../../Images/marketing-hover.svg");
}

#best-services-section .service-list li p {
  margin: 0 0 17px;
}
#best-services-section .service-list li .ilinkedon-logo-custom {
  height: 20px;
  width: 106px;
  vertical-align: bottom;
  margin: 0 0 1px;
}
