#logo-section{
    height: 54.3906px;
    width: 100%; 
    overflow: hidden; 
    position: relative;
}
.logos-slider{
    width: 3215%; position: relative; transition-duration: 1s; transform: translate3d(-4800px, 0px, 0px);
}
.logos-slider li{
    float: left; list-style: none; position: relative; width: 1600px;
}
#logos-section {
  background-color: #fbfbfb;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  text-align: center;
  padding: 15px 0;
}
#logos-section .bx-wrapper {
  box-shadow: none;
  background-color: transparent;
}
#logos-section .logos-slider li {
  font-size: 0;
}
#logos-section .logos-slider span {
  display: inline-block;
  vertical-align: middle;
  width: 18%;
  padding: 0 25px;
  font-size: 12px;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#logos-section .logos-slider span:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#logos-section .logos-slider span img {
  display: block;
  height: auto;
  width: 100%;
}
#logos-section .bx-wrapper .bx-pager {
  display: none;
}
#logos-section .slider-control {
  position: absolute;
  top: 50%;
  margin: -15px 0 0;
  width: 100%;
}
#logos-section .slider-control ul {
  position: relative;
}
#logos-section .slider-control ul li {
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
}
#logos-section .slider-control ul a {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  background-color: #00a79d;
  font-size: 0;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#logos-section .slider-control ul a:hover {
  background-color: #088981;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#logos-section #slider-prev4 {
  left: 100px;
}
#logos-section #slider-next4 {
  right: 100px;
}
#logos-section .slider-control ul #slider-prev4:before,
#logos-section .slider-control ul #slider-prev4:after,
#logos-section .slider-control ul #slider-next4:before,
#logos-section .slider-control ul #slider-next4:after {
  content: "";
  display: block;
  background-color: #fff;
  width: 2px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0;
  pointer-events: none;
}
#logos-section .slider-control ul #slider-prev4:before,
#logos-section .slider-control ul #slider-prev4:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 14px;
}
#logos-section .slider-control ul #slider-prev4:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 50%;
  margin: -2px 0 0;
}
#logos-section .slider-control ul #slider-next4:before,
#logos-section .slider-control ul #slider-next4:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#logos-section .slider-control ul #slider-next4:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  margin: -2px 0 0;
}

