/* Header Section Start */
#wrapper {
  overflow: hidden;
  position: relative;
}
.holder {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.left-align {
  float: left;
}
.right-align {
  float: right;
}
/* Top Header Start */
.top-header:after,
.holder:after,
.bottom-header:after {
  content: "";
  clear: both;
  display: block;
}
.top-header {
  max-height: 145px;
  color: #fff;
  background-color: #333;
  padding: 12px 0 14px;
}
.top-header .left-align {
  margin: 7px 0 0;
}
.email-link {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font: normal 13px/17px "ralewaysemibold", Arial, Helvetica, sans-serif;
  padding: 0 6px 0 20px;
  letter-spacing: 1px;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.email-link:before {
  content: "\e933";
  font-family: "icomoon";
  display: block;
  height: 14px;
  width: 18px;
  text-align: center;
  font-size: 14px;
  line-height: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -7px 0 0;
}
.email-link:hover:before,
.email-link:hover {
  color: #27aae1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.social-links {
  display: inline-block;
  vertical-align: middle;
  border-left: 1px solid #fff;
  padding: 1px 14px 1px 2px;
  font-size: 0;
}
.social-links li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
}
.social-links a:before {
  content: "";
  display: block;
  font-family: "icomoon";
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.social-links a {
  display: block;
  text-align: center;
  line-height: 20px;
  height: 20px;
  width: 28px;
  font-size: 14px;
  color: #fff;
  padding: 0 2px;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.social-links a:hover,
.social-links a:hover:before {
  color: #27aae1;
}
.social-links .facebook-icon a:before {
  content: "\ea90";
  font-size: 14px;
}
.social-links .twitter-icon a:before {
  content: "\ea96";
  font-size: 16px;
}
.social-links .gplus-icon a:before {
  content: "\e92b";
  font-size: 16px;
}
.social-links .youtube-icon a:before {
  content: "\e932";
  font-size: 17px;
}
.social-links .linkedin-icon a:before {
  content: "\eaca";
  font-size: 15px;
  top: -1px;
}
.social-links .tumblr-icon a:before {
  content: "\eab9";
  font-size: 12px;
}
.social-links .pinterest-icon a:before {
  content: "\e931";
  font-size: 14px;
  top: 1px;
}
.social-links .linkedin-icon a {
  width: 25px;
}
.social-links .facebook-icon a,
.social-links .tumblr-icon a,
.social-links .pinterest-icon a {
  width: 20px;
}

.account-btn-holder,
.location-holder {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
.account-btn-holder li {
  display: inline-block;
  vertical-align: middle;
  font: normal 13px/17px "ralewaymedium", Arial, Helvetica, sans-serif;
  margin: 0 20px 0 0;
}
.account-btn-holder span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  font-size: 13px;
}
.account-btn-holder a {
  display: inline-block;
  vertical-align: middle;
}
.account-btn-holder .signup-btn {
  color: #fff;
  background-color: #27aae1;
  border-radius: 7px;
  padding: 7px 13px;
}
.account-btn-holder .signin-btn {
  color: #fff;
  background-color: #79ba30;
  border-radius: 7px;
  padding: 7px 13px;
}
/* Custom Animated Buttons */
.blue-btn-animated {
  background-color: #2098d1;
}
.blue-btn-animated:hover {
  -webkit-animation: b3 1.5s infinite;
  -moz-animation: b3 1.5s infinite;
  animation: b3 1.5s infinite;
}
@keyframes b3 {
  0% {
    background-color: #2098d1;
  }
  50% {
    background-color: #16678d;
  }
  100% {
    background-color: #2098d1;
  }
}

.green-btn-animated {
  background-color: #79ba30;
}
.green-btn-animated:hover {
  -webkit-animation: b4 1.5s infinite;
  -moz-animation: b4 1.5s infinite;
  animation: b4 1.5s infinite;
}
@keyframes b4 {
  0% {
    background-color: #79ba30;
  }
  50% {
    background-color: #427608;
  }
  100% {
    background-color: #79ba30;
  }
}
.location-holder li {
  display: inline-block;
  vertical-align: middle;
  font: normal 14px/17px "ralewaysemibold", Arial, Helvetica, sans-serif;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 0 0 0 13px;
  position: relative;
}
.location-holder li:first-child {
  margin: 0;
}
.location-holder li {
  min-width: 80px;
  height: 30px;
  padding: 6px 15px 5px 10px;
}
.location-holder li img {
  display: inline-block;
  vertical-align: top;
  height: 16px;
  width: 20px;
}
.location-holder li span {
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
}
/* Top Header End */

/* Bottom Header Start */
.bottom-header {
  max-height: 71px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  padding: 17px 0 15px;
  z-index: 99999;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation: head_animation 1s;
  -moz-animation: head_animation 1s;
  -ms-animation: head_animation 1s;
  animation: head_animation 1s;
}
@keyframes head_animation {
  0% {
    top: -71px;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    top: 0;
    opacity: 1;
    visibility: visible;
    height: 30%;
  }
}
.left-align {
  margin: 2px 0 0;
}
#cat-menu-btn {
  float: left;
  width: 32px;
  height: 32px;
  margin: 5px 20px 0 0;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#cat-menu-btn span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: #414141;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#cat-menu-btn span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}
#cat-menu-btn span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}
#cat-menu-btn span:nth-child(1),
#cat-menu-btn span:nth-child(2) {
  top: 0px;
}
#cat-menu-btn span:nth-child(3),
#cat-menu-btn span:nth-child(4) {
  top: 10px;
}
#cat-menu-btn span:nth-child(5),
#cat-menu-btn span:nth-child(6) {
  top: 20px;
}
#cat-menu-btn.open span:nth-child(1),
#cat-menu-btn.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cat-menu-btn.open span:nth-child(2),
#cat-menu-btn.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#cat-menu-btn.open span:nth-child(1) {
  left: 5px;
  top: 8px;
}
#cat-menu-btn.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 8px;
}
#cat-menu-btn.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
#cat-menu-btn.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
#cat-menu-btn.open span:nth-child(5) {
  left: 5px;
  top: 14px;
}
#cat-menu-btn.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 14px;
}
#cat-menu-btn.open span {
  background-color: #79ba30;
}

/* Mobile Menu Button Start */
#mobile-menu-btn {
  float: right;
  width: 32px;
  height: 32px;
  margin: 5px 0 0;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}
#mobile-menu-btn span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: #414141;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#mobile-menu-btn span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}
#mobile-menu-btn span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}
#mobile-menu-btn span:nth-child(1),
#mobile-menu-btn span:nth-child(2) {
  top: 0px;
}
#mobile-menu-btn span:nth-child(3),
#mobile-menu-btn span:nth-child(4) {
  top: 10px;
}
#mobile-menu-btn span:nth-child(5),
#mobile-menu-btn span:nth-child(6) {
  top: 20px;
}
#mobile-menu-btn.open span:nth-child(1),
#mobile-menu-btn.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#mobile-menu-btn.open span:nth-child(2),
#mobile-menu-btn.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#mobile-menu-btn.open span:nth-child(1) {
  left: 5px;
  top: 8px;
}
#mobile-menu-btn.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 8px;
}
#mobile-menu-btn.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
#mobile-menu-btn.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
#mobile-menu-btn.open span:nth-child(5) {
  left: 5px;
  top: 14px;
}
#mobile-menu-btn.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 14px;
}
#mobile-menu-btn.open span {
  background-color: #79ba30;
}
/* Mobile Menu Button End */

.logo {
  float: left;
  width: 200px;
  height: 35px;
}
.logo a {
  display: block;
}
.logo a img {
  display: block;
  height: auto;
  width: 100%;
  height: 35px;
}
#main-menu > ul,
#main-menu .drive-width-btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
#main-menu > ul > li {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  margin: 0 0 0 30px;
  position: relative;
}
#main-menu > ul > li:first-child {
  margin: 0;
}
#main-menu > ul > li > a {
  display: block;
  color: #666;
  font: normal 14px/17px "ralewaymedium", Arial, Helvetica, sans-serif;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#main-menu > ul > li:hover > a,
#main-menu > ul > li > a:hover {
  color: #8bc53e;
}
#main-menu > ul > li.active > a {
  color: #27aee1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#main-menu .drive-width-btn {
  border: 1px solid #333;
  background-color: #333;
  color: #fff;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.8);
  padding: 9px 19px;
  margin: 0 0 0 35px;
  min-width: 200px;
  position: relative;
  font-size: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#main-menu .drive-width-btn:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#main-menu .drive-width-btn .drive-text {
  display: inline-block;
  vertical-align: middle;
  font: normal 13px/17px "ralewaybold", Arial, Helvetica, sans-serif;
  margin: 0 10px 0 0;
}
#main-menu .drive-width-btn .ilinkedon-logo-custom {
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  height: 18px;
}
#main-menu .drive-width-btn:hover .drive-text {
  color: #73b72b;
}
#main-menu ul ul {
  width: 215px;
  position: absolute;
  top: 50px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#main-menu ul li:last-child ul {
  left: auto;
  right: 0;
}
#main-menu ul ul li {
  margin: 0 0 7px;
  position: relative;
  border-bottom: 1px solid #187ba4;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#main-menu ul li:hover ul {
  top: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
  z-index: 999999;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#main-menu ul li:hover ul li {
  margin: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#main-menu ul li:hover ul li:last-child {
  margin: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
#main-menu ul ul li:before {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -3px;
}
#main-menu ul ul a {
  display: block;
  color: #fff;
  background-color: #27aae1;
  font-size: 14px;
  padding: 10px 25px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#main-menu ul ul li.active a,
#main-menu ul ul a:hover {
  color: #fff;
  background-color: #79ba30;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.category-menu {
  min-height: 637px;
}
.ilinkedon-logo-custom {
  display: inline-block;
  vertical-align: top;
  background-image: url(../../Images/logo.svg);
  background-repeat: no-repeat;
}
.bottom-header .category-menu {
  position: absolute;
  width: 100%;
  overflow: hidden;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  top: 130px;
  z-index: 999;
  height: 0;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.bottom-header.open .category-menu {
  top: 69px;
  opacity: 1;
  visibility: visible;
  padding: 33px 0;
  border-top: 1px solid #297795;
  box-shadow: 0 0 5px rgba(41, 119, 149, 0.2);
  height: auto;
  min-height: 620px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.bottom-header .category-menu ul li {
  float: left;
  width: 33.33%;
  padding: 0 30px;
}
.bottom-header .category-menu ul a {
  display: block;
  border-bottom: 1px solid #aaa;
  color: #aaa;
  padding: 30px 0 0 65px;
  min-height: 85px;
  font: normal 18px/22px "ralewaymedium", Arial, Helvetica, sans-serif;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.bottom-header .category-menu ul a:hover {
  color: #27aae1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.bottom-header .category-menu ul a:after {
  content: "";
  height: 1px;
  width: 0;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #27aae1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
.bottom-header .category-menu ul a:hover:after {
  width: 100%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
.bottom-header .category-menu ul a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -18px;
  height: 35px;
  width: 55px;
  color: #aaa;
  font-family: "icomoon";
  font-size: 38px;
  line-height: 34px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.bottom-header .category-menu ul a:hover:before {
  color: #27aae1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.bottom-header .category-menu .t-innovations-link a:before {
  content: "\e904";
}
.bottom-header .category-menu .d-promotions-link a:before {
  content: "\e93b";
}
.bottom-header .category-menu .c-ads-link a:before {
  content: "\e905";
}
.bottom-header .category-menu .malls-link a:before {
  content: "\e93a";
}
.bottom-header .category-menu .recruitments-link a:before {
  content: "\e93c";
}
.bottom-header .category-menu .property-link a:before {
  content: "\e939";
}
.bottom-header .category-menu .services-link a:before {
  content: "\e938";
}
.bottom-header .category-menu .s-bike-link a:before {
  content: "\e907";
}
.bottom-header .category-menu .restaurants-link a:before {
  content: "\e901";
}
.bottom-header .category-menu .ebc-link a:before {
  content: "\e908";
}
.bottom-header .category-menu .m-van-link a:before {
  content: "\e900";
}
.bottom-header .category-menu .brands-link a:before {
  content: "\e902";
}
.bottom-header .category-menu .vehicles-link a:before {
  content: "\e935";
}
.bottom-header .category-menu .jobs-link a:before {
  content: "\e936";
}
.bottom-header .category-menu .d-us-link a:before {
  content: "\e906";
}
.bottom-header .category-menu .blog-link a:before {
  content: "\e937";
}
.bottom-header .category-menu .marketing-link a:before {
  content: "\e903";
}
h1 {
  color: red;
}
.logo1 {
  height: "45";
  width: "254";
  transition: all 0.7s;
}
.logo1:hover{
  transform: scale(1.05);
  transition: all 0.7s;
}
/* Header Section End */

